/* App.css */
.app-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 20px;
}

.user-section, .user-list, .details-view, .expense-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.back-button {
  background-color: #6c757d;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #5a6268;
}

.user-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.user-item:hover {
  background-color: #f0f0f0;
}

.details-view ul {
  list-style-type: none;
  padding: 0;
}

.details-view li {
  margin: 10px 0;
  text-align: left
